################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdeToFood/obj
/OdeToFood/bin/Debug/net5.0
/OdeToFood.Data/obj
/OdeToFood.Core/obj
